@import "../helpers/variables";
@import "../helpers/helpers";

nav {
    border-bottom: 1px solid $black;
    margin-bottom: 30px;
    @extend %text-navbar;
}

.navbar-brand:active{
    text-shadow: 2px 2px 8px $white;
}
