/* Colors variables */
$black: #000 !default;
$white: #fff !default;
$transparent: rgba(0, 0, 0, 0) !default;

/* Images variables */
$blocks-img: "../images/background-white.jpg";

/* Background variables */
$background-block: $blocks-img;
