@import "../helpers/helpers";

#about{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 50px;
    border-bottom: 1px solid $black;
    font-weight: 700;
    color: $black;
}

.font-style{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 8px #FF0000;
    color: $black;
}
