@import "../helpers/helpers";

#articles{
    background: $white;
}

.box-articles{
    h1{
        color: $black;
        text-transform: initial;
    }
    a{
        font-size: 20px;
    }
    p{
        color: $black;
    }
    padding-top: 50px;
    padding-bottom: 5px;
}

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-color: #8EBBDF;
    background-color: #D2E4F2;
}
