@import '../../css/sass/helpers/variables';

#portfolio {
  background: $white;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  padding-top: 90px;
  padding-bottom: 50px;
}

hr {
  border: 1px solid #000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
