@import '../../css/sass/helpers/variables';

#portfolio {
  background-image: url('../../assets/images/robot-1000x500.jpg');
  background-attachment: fixed;
  /* background-size: cover;  Amplia a imagem */
  background-repeat: no-repeat;
  background-position: right;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  padding-top: 90px;
  padding-bottom: 50px;
}

hr {
  border: 1px solid #000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
