@import '../css/sass/helpers/variables';
@import '../css/sass/helpers/helpers';

body {
  background: $white;
/*   background-image: url($background-block); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
