@import '../css/sass/helpers/variables';
@import '../css/sass/helpers/helpers';

body {
  background-image: url($blocks-img);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
