@import '../../css/sass/helpers/variables';

#medium {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  padding-top: 90px;
  padding-bottom: 50px;
}

hr {
  border: 1px solid #000;
}

h5 {
  color: $black;
}

.card {
  border: 1px solid $black;
}

img {
  border-bottom: 1px solid $black;
}
